input.invalid {
     background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
     display: none;
}

button {
     background-color: #4CAF50;
     color: #ffffff;
     border: none;
     padding: 10px 20px;
     font-size: 17px;
     font-family: Raleway;
     cursor: pointer;
}

button:hover {
     opacity: 0.8;
}

#prevBtn {
     background-color: #d7fd2;
     color: #fff;
     border-radius: 50%;
}

/* Make circles that indicate the steps of the form: */
.step {
     height: 40px;
     width: 40px;
     margin: 0 5px;
     background-color: #bbbbbb;
     border: none;
     border-radius: 40%;
     display: inline-block;
     opacity: 0.5;
     padding: 6px;
}

.step.active {
     opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
     background-color: #4CAF50;
}
